{% extends 'organ.html' %}

{% block title %}社团主页{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>社团主页</h4> 
        <div id="aside"> 
            <h3>社团1</h3> 
            <p>...</p> 
            <p>...</p> 
        </div> 

        <div id="aside"> 
            <h3>社团2</h3> 
            <p>...</p> 
            <p>...</p> 
        </div> 

        <div id="aside"> 
            <h3>社团3</h3> 
            <p>...</p> 
            <p>...</p> 
        </div> 

        <div id="aside"> 
            <h3>社团n.....</h3> 
            <p>...</p> 
            <p>...</p> 
        </div> 

    </div> 

{% endblock %}