{% extends 'organ.html' %}

<!-- 在社团主页通过两种排序随机点其中某个社团展示的界面 -->
{% block title %}中山大学东校登山队{% endblock %}

{% block content %}
    <div id="aside"> 
            <div id="aside"> 
                <p>中山大学东校登山队</p> 
                <p>负责人 ：XXX</p> 
                <p>管理员 ：XXX</p> 
            </div> 

            <div id="aside"> 
                <h3>近期活动</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>会员分享</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>照片</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <button type="submit" value="return">返回</button> 

    </div> 

{% endblock %}