{% extends 'organ.html' %}

{% block title %}类型排序{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>类型排序</h4> 
            <div id="aside"> 
                <h3>公益服务</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>体育运动</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>公共传媒</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>...</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>院系社团</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

    </div> 

{% endblock %}