{% extends 'organ.html' %}

<!-- 在社团主页通过两种排序随机点其中某个社团展示的界面 -->
{% block title %}近期活动{% endblock %}

{% block content %}
    <div id="aside"> 
            <div id="aside"> 
                <h4>近期活动</h4> <br>
            </div> 

            <div id="aside"> 
                <h3>2017.11.05 登山队校友回访谈会</h3> 
                <p>嘉宾A</p> 
                <p>...</p> 
                <p>嘉宾B</p> 
                <p>...</p> 
                <p>嘉宾C</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>2017.10.21 著名登山电影观影活动</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>...</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <!-- 这里不考虑增加返回社团首页功能，因为页面上方有【社团】按钮 -->
            <button type="submit" value="return">返回</button> 

    </div> 

{% endblock %}