{% extends 'organ.html' %}

<!-- 在社团主页通过两种排序随机点其中某个社团展示的界面 -->
{% block title %}会员分享{% endblock %}

{% block content %}
    <div id="aside"> 
            <div id="aside"> 
                <h4>会员分享</h4> <br>
            </div> 

            <div id="aside"> 
                <h3>会员a</h3> 
                <p>...</p>  
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>会员b</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>...</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <!-- 这里不考虑增加返回社团首页功能，因为页面上方有【社团】按钮 -->
            <button type="submit" value="return">返回</button> 

    </div> 

{% endblock %}