{% extends 'organ.html' %}

{% block title %}首字母排序{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>首字母排序</h4> 
            <div id="aside"> 
                <h3>a</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>b</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>c</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>...</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

            <div id="aside"> 
                <h3>z</h3> 
                <p>...</p> 
                <p>...</p> 
            </div> 

    </div> 

{% endblock %}