{% extends 'selfinfo.html' %}

{% block title %}管理社团{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>管理社团</h4> 
            <div>
                <p>社团成员<input type="button" name="orgmember" value="{{ profile.orgmember }}"></p>
                <p>社团组织架构<input type="button" name="organization" value="{{ profile.organization }}"></p>
                <p>社团活动<input type="button" name="orgact" value="{{ profile.orgact }}"></p>
                <p>社团管理员<input type="button" name="orgadm" value="{{ profile.orgadm }}"></p>
                
                <button type="submit" value="add">增加</button>
                <button type="submit" value="delete">删除</button>
            </div>
    </div>

{% endblock %}