{% extends 'selfinfo.html' %}

{% block title %}我的申请{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>我的申请</h4> 
        <div id="main"> 
            <h5>加入其它社团记录</h5> 
            <p>...</p> 
            <p>...</p> 
        </div> 

        <div id="aside"> 
            <h5>活动记录</h5> 
            <p>...</p> 
            <p>...</p> 
        </div> 

        <div id="aside"> 
            <h5>新的活动申请</h5> 
            <p>...</p> 
            <p>...</p> 
        </div> 

        <div id="aside"> 
            <h5>新的社团申请</h5> 
            <p>...</p> 
            <p>...</p> 
        </div> 
    </div> 

{% endblock %}