{% extends 'selfinfo.html' %}

{% block title %}定制活动主页{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>定制活动主页</h4> 
            <div>
                模板推荐 : 
                模板1<input type="button" name="tem1" value="{{ profile.tem1 }}">
                模板2<input type="button" name="tem2" value="{{ profile.tem2 }}">
                模板3<input type="button" name="tem3" value="{{ profile.tem3 }}">
                模板n<input type="button" name="temn" value="{{ profile.temn }}"><br>
                
                内容管理 : 
                活动1<input type="button" name="tem1" value="{{ profile.activity1 }}">
                活动2<input type="button" name="tem2" value="{{ profile.activity2 }}">
                活动3<input type="button" name="tem3" value="{{ profile.activity3 }}">
                自定义<input type="button" name="temn" value="{{ profile.customize }}"><br>

                <!-- 编辑框大小可通过修改rows与cols修改 -->
                Html Code ：<textarea rows="10" cols="16" name="memo" placeholder="在这里输入Html Code内容"></textarea><br>
                
                <button type="submit" value="preview">预览</button>
                <button type="submit" value="reduction">还原</button>
                <button type="submit" value="save">保存</button>
            </div>
    </div> 

{% endblock %}