{% extends 'selfinfo-customorgan.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>为数据对象增加数据</h4>
        <table align="center" border="1">
            <tr>
                <th>fieldNum</th><th>dataType</th><th>fieldName</th>
            </tr>
    {% for list in lists %}
            <tr>
                <th>{{ list.3 }}</th><th>{{ list.1 }}</th><th>{{ list.2 }}</th>
            </tr>
    {% endfor %}
    </table>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{adf.as_p}}
                <input type="submit" value="增加数据"/>
            </form>
    </div> 

{% endblock %}