{% extends 'selfinfo.html' %}

{% block title %}修改个人信息{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>修改个人信息</h4> 
            <p>姓名:<input type="text" name="username" value="{{ profile.realname }}"></p>
            <p>性别:<input type="text" name="name" value="{{ profile.get_sex_display }}"></p>
            <p>学号:<input type="text" name="IDnum" value="{{ profile.IDnum }}"></p>
            <p>学院:<input type="text" name="college" value="{{ profile.college }}"></p>
            <p>专业:<input type="text" name="major" value="{{ profile.major}}"></p>
            <p>邮箱:<input type="text" name="email" value="{{ user.email }}"></p>
            <p>QQ:<input type="text" name="QQ" value="{{ user.QQ }}"></p>
            <p>微信:<input type="text" name="wechat" value="{{ user.wechat }}"></p>
            <p>手机:<input type="text" name="phone" value="{{ user.phone }}"></p>
            
        <button type="save" value="save">保存修改</button>
        <button type="submit" value="return">返回</button>
    </div> 

{% endblock %}