{% extends 'selfinfo.html' %}

{% block title %}创建社团{% endblock %}

{% block content %}
    <div id="aside"> 
        <h4>创建社团</h4> 
            <p>社团名称:<input type="text" name="orgname" value="{{ profile.orgname }}"></p>
            <p>社团类别:<input type="text" name="orgclass" value="{{ profile.orgclass }}"></p>
            <p>社团简介:<input type="text" name="orgintro" value="{{ profile.orgintro }}"></p>
            <p>所属单位:<input type="text" name="orgdep" value="{{ profile.orgdep }}"></p>
            <p>所在校区:<input type="text" name="campus" value="{{ profile.campus }}"></p>
            
        <button type="submit" value="ackapply">确认申请</button>
        <button type="submit" value="return">返回</button>
    </div> 

{% endblock %}