{% extends 'selfinfo.html' %}

{% block title %}{% endblock %}

{% block content %}

{% endblock %}

{% block sidebar %}
<div id="sidebar">

				<!-- Box -->
				<div class="box">

					<!-- Box Head -->
					<div class="box-head">
						<h2>management</h2>
					</div>
					<!-- End Box Head-->

					<div class="box-content">
                    {% if objects == NULL %}

                    {% else %}
                        {% for object in objects %}
                                <a href="{% url 'manage_data_n' object.0 %}" class="add-button"><span>{{ object.1 }}</span></a>
						<div class="cl">&nbsp;</div>
                        {% endfor %}
                    {% endif %}
						<br>
						<!-- End Sort -->
					</div>
				</div>
				<!-- End Box -->
</div>
{% endblock %}