{% extends 'selfinfo.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div id="aside">
        <p class="selfinfohead" align="center">个人基本信息</p>
        <br>
        <p class="selfinfo" align="center">姓名:{{ profile.realname }}</p>
        <p class="selfinfo" align="center">学号:{{ user.username }}</p>
        <p class="selfinfo" align="center">邮箱:{{ user.email }}</p>
        <br>
        <br>
        <p class="selfinfohead" align="center">租户中个人信息</p>
        <br>
        <br>
        <center><button type="save" value="save" >修改</button>
        <button type="submit" value="return">返回</button></center>
    </div>

{% endblock %}